# Assignment 01

In [3]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

#### 1. Length of the salaries list

In [5]:
print(len(salaries))

7

#### 2. Retrieve the third salary in the list by using index

In [7]:
print(salaries[2])

50k

#### 3. Extract the last salary from the list by using a negative index

In [9]:
print(salaries[-1])

40k

#### 4. Slice the salaries list to get only the middle three salaries

In [11]:
print(salaries[2:5])

['50k', '60k', '35k']

#### 5. Add a new salary to the list, '100k' by using append() method

In [13]:
salaries.append('100k')
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k']

#### 6. Add a new salary to the list, '120k' without method

In [15]:
salaries += ['120k']
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 7. Replace the third salary in the list with '55k' and print the updated list

In [17]:
salaries[2] = '55k'
print(salaries)

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 8. Count how many times '40k' appears in the list

In [19]:
print(salaries.count('40k'))

2

#### 9. Insert a new salary at the second position

In [21]:
salaries.insert(1, '75k')
print(salaries)

['20k', '75k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']

#### 10. Reverse the order of the salaries list with method

In [23]:
salaries.reverse()
print(salaries)

['120k', '100k', '40k', '89k', '35k', '60k', '55k', '40k', '75k', '20k']

#### 11. Reverse the order of the salaries list without method

In [25]:
salaries = salaries[::-1]
print(salaries)

['20k', '75k', '40k', '55k', '60k', '35k', '89k', '40k', '100k', '120k']